@import '../../../styles/variables.scss';

.fiveDays {
    @include box();
    width: 100%;
    display: flex;
    flex-direction: column;

    .error {
        align-self: center;
        color: red;
        font-size: 30px;
    }
    
    .city {
        font-size: 45px;
        font-weight: 700;
        color: $base-blue;
        margin-bottom: 15px;
        margin-left: 12px;
    }

    .cards {
        display: flex;
        justify-content: space-around;

        .card {
            padding: 20px 20px;
            max-width: 200px;
            width: 100%;
            border-radius: 15px;
            background-color: $base-lightblue;

            &__day, &__temp {
                font-size: 18px;
                font-weight: 500;
            }

            &__date, &__info {
                font-size: 13px;
                color: $base-gray;
            }

            &__svg {
                width: 55px;
                height: 55px;
            }

        }
    }
}